<a href="https://colab.research.google.com/github/AleR26/ColabFiles/blob/main/Practica14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Práctica #14: Limpieza y Transformación de Datos Categóricos

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/ClassFiles/nls97.csv')

Ejercicio 01: Errores Tipográficos y Valores Inconsistentes: maritalstatus

In [4]:
print("Valores unicos")
print(df['maritalstatus'].unique())

Valores unicos
['Married' 'Never-married' nan 'Divorced' 'Separated' 'Widowed']

In [5]:
print("Frecuencia de cada valor unico")
print(df['maritalstatus'].value_counts())

Frecuencia de cada valor unico
maritalstatus
Married          3066
Never-married    2766
Divorced          663
Separated         154
Widowed            23
Name: count, dtype: int64

In [6]:
df['maritalstatus'] = df['maritalstatus'].replace({'Never-married':'Single'})
df['maritalstatus'].value_counts()

maritalstatus
Married      3066
Single       2766
Divorced      663
Separated     154
Widowed        23
Name: count, dtype: int64

Ejercicio 02: Errores Tipográficos y Valores Inconsistentes: highestdegree.

In [7]:
print('Valores unicos')
print(df['highestdegree'].unique())

Valores unicos
['2. High School' '0. None' '4. Bachelors' '3. Associates' '5. Masters'
 '1. GED' '7. Professional' '6. PhD' nan]

In [8]:
print('Frecuencia de valores unicos')
print(df['highestdegree'].value_counts())

Frecuencia de valores unicos
highestdegree
2. High School     3667
4. Bachelors       1673
1. GED             1146
0. None             953
3. Associates       737
5. Masters          603
7. Professional     120
6. PhD               54
Name: count, dtype: int64

In [9]:
import re

In [10]:
df['highestdegree'] = df['highestdegree'].str.lower().str.replace(r'\d+\.' , '', regex=True)
print(df['highestdegree'].value_counts())

highestdegree
high school     3667
bachelors       1673
ged             1146
none             953
associates       737
masters          603
professional     120
phd               54
Name: count, dtype: int64

Ejercicio 03: Alta Cardinalidad - Frecuencias Bajas

In [14]:
df['marital_grouped'] = df['maritalstatus'].replace({'Widowed':'Single/No Partner', 'Single': 'Single/No Partner'})
print('Valores unicos')
print(df['marital_grouped'].unique())

Valores unicos
['Married' 'Single/No Partner' nan 'Divorced' 'Separated']

In [15]:
print("Contar valores unicos")
print(df['marital_grouped'].value_counts())

Contar valores unicos
marital_grouped
Married              3066
Single/No Partner    2789
Divorced              663
Separated             154
Name: count, dtype: int64

Ejercicio 04: Tipos de Datos

Imprime el tipo de datos de la columna gender
Imprime la cantidad de bytes de dicha columna
Si la columna es de tipo object, modifica a category.
En caso de haber realizado la modificación del tipo de datos, imprime la cantidad de bytes que ocupa dicha columna con el nuevo tipo de datos

In [25]:
print('Tipo de datos de la columna gender: ')
print(df['gender'].info())
print('\n')
print(f"Bytes de la columna gender: {df['gender'].memory_usage(deep=True)}")

Tipo de datos de la columna gender:
<class 'pandas.core.series.Series'>
RangeIndex: 8984 entries, 0 to 8983
Series name: gender
Non-Null Count  Dtype
--------------  -----
8984 non-null   object
dtypes: object(1)
memory usage: 70.3+ KB
None


Bytes de la columna gender: 485054

In [26]:
df['gender'] = df['gender'].astype('category')
print(f"Bytes de la columna gender: {df['gender'].memory_usage(deep=True)}")

Bytes de la columna gender: 9332