<a href="https://colab.research.google.com/github/AleR26/ColabFiles/blob/main/Practica13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Práctica 13: Carga de Datos

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/ClassFiles/miaad-nyc-r-s.csv')
df1 = df.dropna()
print("Ultimas 3 filas del archivo")
print(df1.tail(3))
print('\n')
print("Numero de filas y columnas")
print(df.shape)

Ultimas 3 filas del archivo
      Unnamed: 0  BOROUGH NEIGHBORHOOD  \
84545       8411      5.0      WOODROW
84546       8412      5.0      WOODROW
84547       8413      5.0      WOODROW

                           BUILDING CLASS CATEGORY TAX CLASS AT PRESENT  \
84545  02 TWO FAMILY DWELLINGS                                        1
84546  22 STORE BUILDINGS                                             4
84547  35 INDOOR PUBLIC AND CULTURAL FACILITIES                       4

        BLOCK    LOT EASE-MENT BUILDING CLASS AT PRESENT  \
84545  7351.0   60.0                                  B2
84546  7100.0   28.0                                  K6
84547  7105.0  679.0                                  P9

                     ADDRESS  ... RESIDENTIAL UNITS  COMMERCIAL UNITS  \
84545       49 PITNEY AVENUE  ...               2.0               0.0
84546  2730 ARTHUR KILL ROAD  ...               0.0               7.0
84547      155 CLAY PIT ROAD  ...               0.0               1.0

       TOTAL UNITS  LAND SQUARE FEET  GROSS SQUARE FEET YEAR BUILT  \
84545          2.0              4000               1496     1925.0
84546          7.0            208033              64117     2001.0
84547          1.0             10796               2400     2006.0

      TAX CLASS AT TIME OF SALE  BUILDING CLASS AT TIME OF SALE  SALE PRICE  \
84545                       1.0                              B2      460000
84546                       4.0                              K6    11693337
84547                       4.0                              P9       69300

                 SALE DATE
84545  2017-07-05 00:00:00
84546  2016-12-21 00:00:00
84547  2016-10-27 00:00:00

[3 rows x 22 columns]


Numero de filas y columnas
(84549, 22)

/tmp/ipython-input-1670817835.py:3: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/drive/MyDrive/ClassFiles/miaad-nyc-r-s.csv')

Práctica 14: Agregar una columna

In [27]:
print("Nombre de columnas")
print(df1.columns)
renamed_df1 = df1.rename(columns= {"Unnamed: 0":"INDEX MIIAD"})
print("\n")
print("Nuevos nombres de columnas")
print(renamed_df1.columns)

Nombre de columnas
Index(['Unnamed: 0', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')


Nuevos nombres de columnas
Index(['INDEX MIIAD', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

Práctica 15: Normalización de los nombres de la columna.

In [28]:
df.columns = renamed_df1.columns.str.lower().str.replace(" ", "_")
print(df.columns)

Index(['index_miiad', 'borough', 'neighborhood', 'building_class_category',
       'tax_class_at_present', 'block', 'lot', 'ease-ment',
       'building_class_at_present', 'address', 'apartment_number', 'zip_code',
       'residential_units', 'commercial_units', 'total_units',
       'land_square_feet', 'gross_square_feet', 'year_built',
       'tax_class_at_time_of_sale', 'building_class_at_time_of_sale',
       'sale_price', 'sale_date'],
      dtype='object')

Práctica 16: Errores en los Tipos de Datos

In [39]:
print("Tipo de datos")
print(df.dtypes)
df['land_square_feet'] = pd.to_numeric(df['land_square_feet'], errors='coerce')
df['gross_square_feet'] = pd.to_numeric(df['gross_square_feet'], errors='coerce')
df['sale_price'] = pd.to_numeric(df['sale_price'], errors='coerce')
print('\n Tipos de datos corregidos')
print(df.dtypes)

Tipo de datos
index_miiad                        object
borough                           float64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                             float64
lot                               float64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                          float64
residential_units                 float64
commercial_units                  float64
total_units                       float64
land_square_feet                  float64
gross_square_feet                 float64
year_built                        float64
tax_class_at_time_of_sale         float64
building_class_at_time_of_sale     object
sale_price                        float64
sale_date                          object
dtype: object

 Tipos de datos corregidos
index_miiad                        object
borough                           float64
neighborhood                       object
building_class_category            object
tax_class_at_present               object
block                             float64
lot                               float64
ease-ment                          object
building_class_at_present          object
address                            object
apartment_number                   object
zip_code                          float64
residential_units                 float64
commercial_units                  float64
total_units                       float64
land_square_feet                  float64
gross_square_feet                 float64
year_built                        float64
tax_class_at_time_of_sale         float64
building_class_at_time_of_sale     object
sale_price                        float64
sale_date                          object
dtype: object

Práctica 17: Genera el diccionario de datos del dataframe preprocesado. Imprime el contenido de dicho diccionario

In [40]:
diccionario_datos = pd.DataFrame({"Nombre de la columna": df.columns, "Tipo de dato": [str(df[col].dtype) for col in df.columns]})
print(diccionario_datos)

diccionario_datos.to_csv('/content/drive/MyDrive/ClassFiles/diccionario_datos.csv', index=False,encoding='utf-8')

              Nombre de la columna Tipo de dato
0                      index_miiad       object
1                          borough      float64
2                     neighborhood       object
3          building_class_category       object
4             tax_class_at_present       object
5                            block      float64
6                              lot      float64
7                        ease-ment       object
8        building_class_at_present       object
9                          address       object
10                apartment_number       object
11                        zip_code      float64
12               residential_units      float64
13                commercial_units      float64
14                     total_units      float64
15                land_square_feet      float64
16               gross_square_feet      float64
17                      year_built      float64
18       tax_class_at_time_of_sale      float64
19  building_class_at_time_of_sale       object
20                      sale_price      float64
21                       sale_date       object